<h3>あなたの目標</h3>

画像



<h3>編集画面</h3>
<%= form_with model: @goal, url: goal_path(@goal), method: :patch do |f| %>

  <table>
    <tr>
      <th>目標</th>
      <td><%= f.text_field :goal %></td>
    </tr>

    <tr>
      <th>いつまでに</th>
      <td><%= f.date_field :target_date %></td>
    </tr>

    <tr>
      <th>3か月目の目標</th>
      <td><%= f.text_field :monthly_goal_3 %></td>
    </tr>

    <tr>
      <th>2か月目の目標</th>
      <td><%= f.text_field :monthly_goal_2 %></td>
    </tr>

    <tr>
      <th>1か月目の目標</th>
      <td><%= f.text_field :monthly_goal_1 %></td>
    </tr>

    <tr>
      <th>週目標</th>
      <td><%= f.text_field :weekly_goal %></td>
    </tr>

    <tr>
      <th>アクション</th>
      <td><%= f.text_field :action %></td> 
    </tr>
  </table>
  <!-- 更新ボタン -->
  <%= f.submit '更新', class: 'button' %>
<% end %>




<p>Find me in app/views/public/goals/edit.html.erb</p>
