<%# エラーメッセージを表示させる %>
<% if @goal.errors.any? %>
  <div class="error-messages">
    <h4>以下のエラーがあります:</h4>
    <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>あなたの目標</h3>

画像（左側）

<%= form_with model: @goal, url: goals_path, method: :post, local: true do |f| %>
  <h4>目標</h4>
  <%= f.text_field :goal %>

  <h4>目標のイメージ</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>いつまでに</h4>
  <%= f.date_field :target_date %>

  <h4>３か月目の目標</h4>
  <%= f.text_field :monthly_goal_3 %>

  <h4>２か月目の目標</h4>
  <%= f.text_field :monthly_goal_2 %>

  <h4>１か月目の目標</h4>
  <%= f.text_field :monthly_goal_1 %>

    <h4>週目標</h4>
  <%= f.text_field :weekly_goal %>

    <h4>アクション</h4>
  <%= f.text_area :action %>

  <%= f.submit '登録' %>
<% end %>

<p>Find me in app/views/public/goals/new.html.erb</p>
