<h3>あなたの目標</h3>

画像（左側）

<%= form_with do |f| %>
  <h4>目標</h4>
  <%= f.text_field :goal %>

  <h4>いつまでに</h4>
  <%= f.text_field :goal %>

  <h4>３か月目の目標</h4>
  <%= f.text_field :goal %>

  <h4>２か月目の目標</h4>
  <%= f.text_field :goal %>

  <h4>１か月目の目標</h4>
  <%= f.text_field :goal %>

    <h4>週目標</h4>
  <%= f.text_field :goal %>

    <h4>アクション</h4>
  <%= f.text_field :goal %>

<% end %>

<p>Find me in app/views/public/goals/new.html.erb</p>
