<h1>ビジョンを編集</h1>

<%= form_with(model: @user_vision, local: true) do |form| %>
  <div>
    <%= form.label :image, '画像URL' %>
    <%= form.text_field :image, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :description, '説明' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.submit '更新', class: 'btn btn-success' %>
<% end %>

<%= link_to '戻る', user_visions_path, class: 'btn btn-secondary' %>
