<h1>管理者用ユーザー編集</h1>

<%= form_with model: @user, url: admin_user_path(@user), local: true do |f| %>
  <div class="form-group">
    <h4>ユーザーID</h4>
    <%= f.label :id, @user.id, class: "form-label" %> <!-- ユーザーIDを表示するためのラベル -->
  </div>

  <div class="form-group">
    <h4>名前</h4>
    <%= f.text_field :name, class: "form-control" %> <!-- 入力フィールド -->
  </div>

  <div class="form-group">
    <h4>メール</h4>
    <%= f.text_area :email, class: "form-control" %> <!-- 入力フィールド -->
  </div>

  <div class="form-group">
    <h4>ユーザーステータス</h4>
    <div class="form-check">
      <%= f.radio_button :is_active, true, class: "form-check-input" %>
      <%= f.label :is_active_true, '有効', class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :is_active, false, class: "form-check-input" %>
      <%= f.label :is_active_false, '退会', class: "form-check-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit '保存', class: "btn btn-primary" %> <!-- 保存ボタン -->
  </div>
<% end %>