<h1>管理者用ユーザー詳細</h1>

<!-- ユーザー詳細情報を表示するテーブル -->
<table class="table table-bordered">
  <tr>
    <th>ユーザーID</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メール</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td>
      <% if @user.is_active %>
        <p class="status active">有効</p>
      <% else %>
        <p class="status inactive">退会</p>
      <% end %>
    </td>
  </tr>
</table>

<!-- 編集ボタンと戻るボタン -->
<div class="buttons">
  <%= link_to '編集', edit_admin_user_path(@user), class: 'btn btn-warning btn-sm' %>
  <%= link_to '戻る', admin_users_path, class: 'btn btn-secondary btn-sm' %>
</div>

