<h2>ログイン</h2>

<h3>ユーザーの方はこちらからログイン</h3>

<!-- エラーメッセージの表示 -->
<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <p><%= resource.errors.count %> 件のエラーが発生しました</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: resource, url: user_session_path do |f| %>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h3>ユーザー登録がお済みでない方</h3>
<div><%= link_to "こちら", new_user_registration_path %> から新規登録を行ってください。</div>
