

<div class="container mt-4">
  <h2>ユーザー一覧</h2>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark text-center">
        <tr>
          <th>アイコン</th>
          <th>ユーザー名</th>
          <th>フォロー</th>
          <th>フォロワー</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="text-center">
            <td>
              <%= link_to user_path(user) do %>
                <% if user.profile_image.attached? && user.profile_image.variable? %>
                  <%= image_tag user.profile_image.variant(resize_to_limit: [50, 50]).processed, class: "rounded-circle border border-secondary" %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "rounded-circle border border-secondary" %>
                <% end %>
              <% end %>
            </td>
            <td class="fw-bold">
              <%= link_to user.name, user_path(user), class: "text-decoration-none text-dark" %>
            </td>
            <td>フォロー数: <%= user.followings.count %></td>
            <td>フォロワー数: <%= user.followers.count %></td>
            <td><%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
