<!DOCTYPE html>
<html>
  <head>
    <title>DreamBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>  <!-- 管理者がサインインしている場合 -->
        <li>
          <%= link_to "ユーザー一覧", admin_users_path %>
        </li>
        <li>
          <%= link_to "目標一覧", admin_goals_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>

      <% elsif user_signed_in? %>  <!-- ユーザーがサインインしている場合 -->
        <li>
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
        <li>
          <%= link_to "目標登録", new_goal_path %>
        </li>
        <li>
          <%= link_to "目標一覧", goals_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>

      <% else %>  <!-- ユーザーや管理者がサインインしていない場合 -->
        <li>
          <%= link_to "HOME", root_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>

      <%= render 'shared/search' %> <%# 検索フォームのテンプレート %>
    </header>
  <%= notice %>
  <%= alert %>
    <%= yield %>
  </body>
</html>
