<!DOCTYPE html>
<html>
  <head>
    <title>DreamBuilder</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/48d0254713.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">DreamBuilder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "目標一覧", admin_goals_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "グループ一覧", admin_groups_index_path, class: "nav-link" %>
              </li>

              </li>
              <li class="nav-item">
                <%= link_to "コメント一覧", admin_goal_comments_index_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "目標登録", new_goal_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "目標一覧", goals_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "グループ一覧", groups_path, class: "nav-link" %> <%# 追加したリンク %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "HOME", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <%= render 'shared/search' %> <%# 検索フォーム %>
      <%= yield %>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-4">
      <p>&copy; 2025 DreamBuilder. All Rights Reserved.</p>
    </footer>
  </body>
</html>
